body,
html {
  height: 100%;
  margin: 0;
  font-weight: 400;
  line-height: 1.8em;
  font-family: alegreya;
}
::-webkit-scrollbar {
  width: 5px;
  overflow-x: hidden;
}
::-webkit-scrollbar-track {
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow-x: hidden;
}
.ptext .border.trans {
  text-shadow: 2px 2px 5px #f6aa1c;
  color: black;
}
.ptext .border {
  font-weight: 700;
  background-color: orange;
  border: solid 1px black;
  padding: 0px;
  color: black;
  text-shadow: black;
  border-radius: 10px;
  text-decoration: underline 1px #f6aa1c;
}

.img1,
.img2,
.img3,
.img4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}
.img1 {
  background-image: url("images/Headline-photo.avif");
  min-height: 65%;
}
.img2 {
  background-image: url("images/river-cano.avif");
  min-height: 50%;
}
.img3 {
  background-image: url("images/jungle.avif");
  height: 0;
  min-height: 20%;
}
.img4 {
  background-image: url("images/monkey.avif");
  min-height: 100%;
}
.section {
  text-align: center;
  font-size: 22px;
  border: 2px solid black;
}
.section-dark {
  padding: 0px 50px;
  background-color: #000;
  color: #f6aa1c;
  border-top: 5px solid #f6aa1c;
  border-bottom: 5px solid #f6aa1c;
  font-weight: 100;
  animation: borderOpa 7s infinite alternate-reverse;
}
@keyframes borderOpa {
  from {
    border-color: transparent;
  }
}
.ptext {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 45px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.fs {
  font-size: 25px;
}
.fs:hover {
  font-size: 26px;
  cursor: pointer;
  border: 5px solid #f6aa1c;
}
@media (max-width: 900px) {
  .img1,
  .img2,
  .img3,
  .img4 {
    background-attachment: scroll;
  }
  p {
    text-align: center;
    font-size: 15px;
    width: 100%%;
  }
  span {
    font-size: 20px;
  }
  #fsButton {
    font-size: 17px;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
  }
}
#fsbutton {
  transition: 2s;
}
